.centerhead{
  text-align: center;
}

ol.work{
  background-color: grey;

}

img {
  max-height: 400px;
  max-width: 390 px;
  float: left;
  padding: 10px;

}

.container {
  background-color: #cce6ff;
}

.about {
  background-color:blue;

}

.carousel-inner {
  background-color: green;
}

.carousel {
transition-property: none;}

.carousel-inner {
  min-height: 220px;
}

a.carousel-control {
  max-width: 50px;
  max-height: 55px;
  top: 170px;

}

h2.pdesc {
  padding-left: 14px;
}

p {
text-indent: 10px;
}
